* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C;
    --shape-transparency: #ffffff91;
    --skeleton-color: #D9D9D9;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    --font-family-primary: 'Poppins', sans-serif;
    --text-lg: bold 32px/125% var(--font-family-primary);
    --text-md: 14px/170% var(--font-family-primary);
    --text-sm: 12px/170% var(--font-family-primary);
    --text: 16px/1.5 var(--font-family-primary);
}

body {
    font: var(--text);
    background-color: var(--background-color);
    color: var(--text-color-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.container {
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
}

.bg-surface-color {
    background-color: var(--surface-color);
}