* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C;
    --shape-transparency: #ffffff91;
    --skeleton-color: #D9D9D9;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color-primary);
}